/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
 }

html, body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}



 /*Body */
 body {
  font-family: 'Roboto', sans-serif; /*fonte do google fonts*/
  background-color: var(--cor-fundo); /*é definida pelo usuário*/
  color: #2C3E50;
  padding-top: 70px; /* espaço para o header fixo */
  transition: background-color 0.6s ease, color 0.6s ease;
}



 /*Header */
 header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cor-destaque);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 }

 header h1 {
  font-size: 26px;
 }

 header ul {
  display: flex;
  gap: 20px;
 }

 header li a {
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  transition: color 0.3s, transform 0.2s;
 }

 header li a::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #D3D3D3;
  width: 0;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
 }

 header li a:hover {
  color: #D3D3D3;
  transform: translateY(-2px);
 }

 header li a:hover::after {
  width: 100%;
 }


 header, .mini-secao-final, .rodape {
  transition: background-color 0.6s ease;
 }


/*bolinhas*/
.bolinhas-tema {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bolinha {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--cor1) 50%, var(--cor2) 50%);
  cursor: pointer;
  transition: transform 0.2s;
}
/*Passar o cursor em cima da bolinha*/
.bolinha:hover{
transform: scale(1.1);
}

/*cores das bolinhas */
[data-tema="tema-classico"] { /*bolinha clássica*/
  --cor1: #2C3E50;
  --cor2: #ffffff;
}

[data-tema="tema-aqua"] { /*aqua*/
  --cor1: #2a9d8f;
  --cor2: #e9f5f9;
}

[data-tema="tema-quente"] { /*quente*/
  --cor1: #e07a5f;
  --cor2: #fff8e6;
}

[data-tema="tema-lilas"] { /*lilás*/
  --cor1: #6a4c93;
  --cor2: #f5e9f9;
}

[data-tema="noturno"] {
  position: relative;
  background: #f5f3ce; /* Cor da "lua" */
  overflow: hidden;
}

/*Sombra para criar o formato de lua minguante */
[data-tema="noturno"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 11px;
  width: 100%;
  height: 100%;
  background: #2f2f5c; /* Cor do céu */
  border-radius: 50%;
}

/*Para mostrar a bolinha ativa no momento*/
.bolinha.ativa{
  outline: 2px solid var(--cor1);
  box-shadow: 0 0 4px var(--cor1);
}



/*Para esconder o ícone/botão do menu Hamburguer e a caixa de seleção no desktop */
#menu-toggle {
  display: none;
}

#botao-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


/*Para ser responsivo em telas pequenas */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px; 
    
  }
  #botao-menu {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
  }

  #links-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  /* Quando o checkbox estiver marcado, exibe o menu */
  #menu-toggle:checked + #botao-menu + #links-menu {
    display: flex;

  }

  header h1 {
    margin-bottom: 10px;
  }

  #links-menu li a {
    font-size: 18px;
  }
}



 /* Seções gerais */
 .container-secao {
  padding: 40px 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
 }

 .container-secao.aparecer {
  opacity: 1;
  transform: translateY(0);
}
 
 /*Parágrafos das seções*/
 .container-secao p, #apresentacao p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: center;
 }

 /*Títulos das seções */
 .container-secao h2 {
  font-size: 28px;
  color: #2C3E50;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: left;
 }

 /* Imagem da seção Problema com destaque */
 #imgbanner {
  width: 100%;
  background-color: #f4f4f4;
  padding: 0;
 }

 #imgbanner img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

 /*Imagens da Landing Page*/
 .imgs{
  width: 100%;
  max-width: 800px; 
  display: block; 
  margin: 20px auto;
  border-radius: 8px;}

.imgs:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

 /* Mini seção final (que dá acesso ao simulador) */
 .mini-secao-final {
  background-color: var(--cor-fundo);
  padding: 60px 20px;
  text-align: center;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
 }

 .mini-secao-final h2 {
  font-size: 28px;
  color: #2C3E50;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
 }

 .mini-secao-final p {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 30px;
 }

 .botao-navegar {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(135deg, var(--cor-destaque), #34495e);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
 }

 .botao-navegar:hover {
  background-color: #34495e;
  transform: scale(1.05);
 }



 /* Rodapé*/
 .rodape {
  color: #fff;
  background-color: var(--cor-destaque);
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 60px;
 }

 .rodape-container {
  max-width: 1000px;
  margin: auto;
 }

 .rodape p {
  font-size: 16px;
  margin-bottom: 20px;
 }

 .rodape-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
 }

 .rodape-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
 }

 .rodape-links a:hover {
  color: #f39c12;
 }

 



/* Seção de slideshow com altura ajustada */
#apresentacao {
  text-align: center;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  height: 650px; /*altura maior para exibir a legenda */
  overflow: hidden;
  position: relative;
}

#apresentacao h2 {
  font-size: 28px;
  color: #2C3E50;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#apresentacao img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease;
}

#apresentacao p {
  font-size: 16px;
  color: #2C3E50;
  margin-top: 10px;
  padding: 10px;
}



/* Seção do formulário de login/cadastro */
#form {
  max-width: 850px;
  margin: 60px auto;
  padding: 40px 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#form h2 {
  padding: 10px;
  text-align: center;
  color: #2C3E50;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}


#form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

#form button {
  padding: 15px 30px;
  margin: 10px 5px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

#form input:focus {
  border-color: var(--cor-destaque);
  box-shadow: 0 0 5px var(--cor-destaque);
}

/* Botões iniciais (form)*/
#opcaoInicial {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* Mensagens */
.message {
  margin-top: 10px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}


#quiz {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  padding: 20px;
  width: 80%;
}

/* Seções do quiz */
section {
  animation: fadeIn 0.6s ease-in-out;
}

/* Container de respostas */
#container-respostas {
  margin-bottom: 1rem;
}

/* Input de texto */
input[type="text"],
select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: border 0.3s ease;
}


/* Mensagem de validação */
#message {
  color: #d32f2f;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 1.5rem;
  animation: fadeIn 0.4s ease;
}

/* Botões */
button {
  background-color: var(--cor-destaque);
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

/*Para melhor navegação por teclado*/
button:focus, a:focus {
  outline: 2px dashed var(--cor-destaque);
  outline-offset: 3px;
}

/* Resultado */
#container-resultado {
  text-align: center;
}

#lista-resultado {
  text-align: left;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

#lista-resultado li {
  background-color: #f1f1f1;
  padding: 0.75rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Avaliação de risco */
#risco-enchente {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #e53935;
  animation: pulse 1.2s ease-in-out infinite alternate;
}

/* Para esconder trechos */
.hidden {
  display: none;
}


/* Animações */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}


:root {
    --cor-fundo: #FFFFFF;
    --cor-destaque: #2C3E50;
}

/* Rodapé com cor fixa */
footer p {
    color: #fff; /* Cor independente do tema */
}

.rodape  {
  background-color: var(--cor-destaque);

}